{% extends "base.html" %}

{% block title %} Profile {% endblock %}
{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static' , filename='css/profile.css') }}">

{% endblock %}

{% block profile %}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <div class="row">
            <div class="col-2">
                <img class = "profile-avatar" src="{{  session.profile_url  }}" alt="">
            </div>
            <div class="col">
                <a class="nav-link active" href="#">{{ session.name }}</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <form action="{{ url_for('auth.logout')  }}">
            <input class="nav-link" type="submit" value="Logout"  data-toggle="modal" data-target="#loginModal">
        </form>
    </li>

</ul>
{% endblock %}


{% block content %}


{% if session.profile_url %}
    <!-- <img src="{{ session.profile_url }}" alt=""> -->
{% else %}
<h1 style = "text-transform: capitalize;">No Profile image</h1>
{% endif  %}

<div class="container mb-n4">
    <h1 style="font-family: Poppins; font-weight: 200;">
        Recommendation:
    </h1>
</div>
<div class="container d-flex justify-content-around">
    <div class="r-card">
        <h1>Fikr Eske Enklf</h1>
        <p class="">By. Natnael Abay</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="float-right">1984</span>
    </div>
    <div class="r-card">
        <h1>Fikr Eske Enklf</h1>
        <p class="">By. Natnael Abay</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="float-right">1984</span>
    </div>
    <div class="r-card">
        <h1>Fikr Eske Enklf</h1>
        <p class="">By. Natnael Abay</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="float-right">1984</span>
    </div>
</div>

<div class="container">
    <h1 style="font-family: Poppins; font-weight: 200;">
        Search Your Book Of Choice
    </h1>
</div>
<section class="search container">
    <form  id="search-form">
        <i class="fas fa-search"></i>
        <input type="text" name="payload" class="" placeholder="Search" id="payload">
        <select name="type"id = "search-type" >
            <option value="ISBN">ISBN</option>
            <option value="author">Author</option>
            <option value="title">Title</option>
            <option value="year">Year</option>
          </select>
        <!-- <input list="browsers" class="ml-4" name="type" id = "search-type"  placeholder="Select Type">
        <datalist id="browsers">
            <option value="ISBN">
            <option value="Author">
            <option value="Title">
            <option value="Year">
        </datalist> -->
        <input type="submit" value="Search" class="ml-4 search-btn">
    </form>
    <br>
    <br>
    <div class="errors"></div>
</section>


<div class="container  max-height search-content">


    <!-- Loading Spinner should be added if api used  -->

    <div class="search-svg-wrapper">
        <img height="450" class="image-responsive" src="{{ url_for('static', filename='images/search.svg')  }}" alt="">
    </div>




    <!-- <div class="search-box" style="position: relative;">
        <div class="left">
            <img src="{{ url_for('static' , filename='images/a.png') }}" alt="">
        </div>
        <div class="middle">
            <p>Lord of the rings</p>
        </div>

        <div class="right">
            <p>By. <span>Natnael Abay</span></p>
        </div>
    </div>
    <div class="search-box mt-4" style="position: relative;">
        <div class="left">
            <img src="{{ url_for('static' , filename='images/a.png') }}" alt="">
        </div>
        <div class="middle">
            <p>Lord of the rings</p>
        </div>

        <div class="right">
            <p>By. <span>Natnael Abay</span></p>
        </div>
    </div>
    <div class="search-box mt-4" style="position: relative;">
        <div class="left">
            <img src="{{ url_for('static' , filename='images/a.png') }}" alt="">
        </div>
        <div class="middle">
            <p>Lord of the rings</p>
        </div>

        <div class="right">
            <p>By. <span>Natnael Abay</span></p>
        </div>
    </div>
    <div class="search-box mt-4" style="position: relative;">
        <div class="left">
            <img src="{{ url_for('static' , filename='images/a.png') }}" alt="">
        </div>
        <div class="middle">
            <p>Lord of the rings</p>
        </div>

        <div class="right">
            <p>By. <span>Natnael Abay</span></p>
        </div>
    </div>
    <div class="search-box mt-4" style="position: relative;">
        <div class="left">
            <img src="{{ url_for('static' , filename='images/a.png') }}" alt="">
        </div>
        <div class="middle">
            <p>Lord of the rings</p>
        </div>

        <div class="right">
            <p>By. <span>Natnael Abay</span></p>
        </div>
    </div> -->
</div>







<style>
.max-height {
    margin-bottom: 5rem;
    height: 35rem;
    width: 100%;
    position: relative;;
}
.search-svg-wrapper {
    z-index: -1;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.profile-avatar {

    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

</style>


<script src="{{ url_for('static' , filename='js/profile.js')  }}"></script>

{% endblock %}